
.mainContainer {
    width: 90%;
    height: 80vh;
    margin: auto;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 40% 60%;
}

@media (max-width : 900px) {
    .mainContainer {
        font-size: 14px;
    }
}

@media (max-width : 600px) {
    .mainContainer {
        grid-template-columns: auto;
        grid-template-rows: auto 2fr;
        font-size: 12px;
    }
}
