.tableContainer {
    width: 90%;
    margin: auto;
    cursor: pointer
}

.table {
    display: grid;
    grid-template-columns: 12% repeat(4, 22%);


}

.gridItem {
    border: 1px solid rgba(0, 0, 0, 0.8);
    overflow: hidden;
    text-overflow: ellipsis;
}

.active {
    background: rgb(139, 237, 41);
    font-weight: bold;
}